.about-text {
    margin-top: 0px;
    margin-bottom: 12px;
}

.about-image {
    width: 205px;
    float: left;
    margin-right: 12px;
    padding-top: 9px;
}

.about-images {
    opacity: 1;
	-webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    max-width: 100%;
}

.about-images:hover {
    opacity: 0.85;
}

@media screen and (max-width: 576px) {

.about-image {
    width: 100%;
    margin-bottom: 12px;    
}
.about-image-content {
    padding-top: 0px;
    margin-bottom: -21px !important;
}
}