.about-text {
    margin-top: -6px;
    padding-bottom: 0px;
    margin-right: 6px;
}

.about-image {
    width: 180px;
    float: left;
    margin-right: 12px;
    padding-top: 3px;   
}

.about-content {
    margin-top: -21px;
    text-align: justify;
}

.about-images {
    opacity: 1;
	-webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
    max-width: 100%;
}

.about-images:hover {
    opacity: 0.85;
}

@media screen and (max-width: 576px) {

.about-image {
    width: 100%;
    margin-bottom: 12px;    
}
.about-image-content {
    padding-top: 0px;
    margin-bottom: -21px !important;
}
.about-text {
    margin-right: 0px;
}
}