.artists-container {
    display: flex;
}

.artists-container-left {
    width: 220px;
    margin-right: 12px;
}

.artists-container-right {

}

.artists-about-text {
    margin-bottom: 6px;
    margin-top: -2px;
}

.artists-image {
    width: 220px; 
    float: left;
    margin-right: 12px;
}

.artists-post-content {
    text-align: justify;
    min-height: 265px;
}

.artists-sociallinks-container {
    justify-content: space-between;
    align-items: center;
    width: 220px;
    background-color: #ffffff;
}

.artists-sociallinks {
    margin-top: 6px;
    float: left;
    height: 50px;
    margin-right: 6px;
}

.artists-sociallinks:last-child {
    margin-right: 0px;
}

.artists-youtube-iframe {
    margin: 0;
    width: 100%;
    height: 350px;
    margin-bottom: 6px;
}

.artists-bandcamp-iframe {
    display: flex;
    margin-top: 0px;
    margin-bottom: 12px;
    height: 275px;
}

.artists-soundcloud-container {
    margin-bottom: -18px;
}

.artists-soundcloud-iframe {
    margin-bottom: 6px;
}

.artists-titles {
    width: 100%;
    font-size: 1.125rem;
    margin: 0;
    line-height: 1.125;
    font-weight: 730;
    text-transform: uppercase;
    padding-bottom: 6px;
}

.artists-hr {
    margin-top: 0px;
    margin-bottom: 6px;
    background-color: #eee;
    width: 100%;
}

.artist-blog-post {
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.2);
    border-radius: 0px;
    padding: 12px;
    padding-top: 12px;
    padding-right: 18px;
    background-color: #ffffff;
}
  .artist-blog-post:hover {
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.3);
}

.blackbox-pastdates {
    background-color: black;
}

.artist-tag-container {
    padding-top: 0px;
    margin-top: 0px !important;
    margin-bottom: 0px;
    display: inline-block;
}

.artist-credits {
    font-size: 0.9rem !important;
    font-family: Montsserat, sans-serif !important;
    margin-top: 12px;
    display: inline-block;
    line-height: 1.35rem;
    margin-bottom: 6px;
}

.artist-credits-mobile {
    display: none;
}

@media screen and (max-width: 576px) {

.artist-credits {
    display: none;
}

.artist-credits-mobile {
    font-size: 0.9rem !important;
    font-family: Montsserat, sans-serif !important;
    margin-top: 0px;
    display: inline-block;
    line-height: 1.35rem;
    margin-bottom: 6px;
}

.artists-container {
    display: grid;
}

.artists-container-left {
    width: 100%;
    margin-right: 12px;
}

.artists-container-right {
    width: 100%;
}

.artists-image {
    width: 100%;
}

.artists-about-text {
    margin-top: 18px;
    margin-bottom: 6px;
}

.artists-youtube-iframe {
    margin-bottom: 9px;
}

.blackbox-pastdates {
    margin-top: -12px;
}

.artist-tag-container {
    margin-bottom: 0px;
}

.artists-post-content {
    margin-top: -6px;
}

}