.dates-date {
  font-size: 0.85rem;
  padding-left: 9px;
  padding-bottom: 6px;
  padding-top: 8px;
  color: #fff;
  font-weight: 550;
  margin: 0;
  letter-spacing: 0.5px;
}

.dates-content {
  font-size: 1rem;
  margin: 0;
  padding-top: 6px;
  line-height: 1.25;
}

.date-query {
  margin-bottom: 6px;
}
  
.date-query:last-child {
  margin-bottom: 0px;
}
  
.dates-venue-link {
  color: #000000;
  text-decoration: none;
}
  
.dates-venue-link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 576px) {
.dates-content {
    font-size: 1rem;
}
.dates-date {
    font-size: 0.85rem;
}
}